.gameBtn{
    width: 80px;
    height: 30px;
    border: solid 4px;
    border-radius: 10px;
    cursor: pointer;
}
.gametext{
    color: blue;
}
#container{
    text-align: center;
    background-color: aquamarine;
    padding-bottom: 30px;
    padding-top: 30px;
    margin-left: 30%;
    margin-right: 30%;
}